<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home page</title>
</head>
<body>
      <p>The no of users are: <%= result[0]["count(*)"] %></p>
      <form action="/user/new" method="get">
            <button>Join us today!</button>
      </form>  
</body>
</html>